@font-face { font-family: 'Lato'; font-weight: normal; src: url('../fonts/lato/Lato-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Lato'; font-weight: bold; src: url('../fonts/lato/Lato-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Lato'; font-weight: lighter; src: url('../fonts/lato/Lato-Light.ttf') format('truetype'); }
@font-face { font-family: 'Lato'; font-weight: 550; src: url('../fonts/lato/Lato-Semibold.ttf') format('truetype'); }

#ae_container {
  background-color: #F6F6F6;
  font-size: 0;
  padding: 3rem 20px;
  transition: margin .3s ease;
}

#ae_seleccionado {
  background: #C83335;
  color: #FFF;
  height: 872px;
  padding-top: 10px;
  text-align: center;
}

#ae_seleccionado div {
  text-align: center;
}

#ae_sub {
  overflow-x: hidden;
}

#back_to_AE {
  background: #FFF;
  border-radius: 50%;
  height: 28px;
  margin: 35px auto 0;
  width: 28px;
}

#back_to_AE polyline {
  fill: none;
  stroke: #C83335;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
}

#contador_a_preview {
  font-size: 15px;
  padding-top: 30px;
}

#contador_a_preview .circle {
  background: #C83335;
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

#contador_a_preview polyline {
  fill: none;
  stroke: #FFF;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
}

#examen_html {
  color: #00F;
}

#footer {
  background-color: #B1B1B1;
  color: #FFF;
  font-size: .7em;
  font-weight: 400;
  padding: 1em;
  text-align: center;
  word-spacing: 1px;
}

#header, #header2, #header3 {
  border-bottom: solid 2px;
  border-color: #EEE;
  padding-bottom: 10px;
  padding-top: 14px;
}

#materia_title {
  border-bottom: solid thin;
  border-color: #C83335;
  color: #4D4D4F;
  font-size: 2em;
  font-weight: 700;
  height: 50%;
  margin-left: 100px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 166px;
}

#preview_reactivo {
  background: #FFF;
  height: 872px;
  padding-left: 50px;
  padding-right: 32px;
  padding-top: 35px;
  transition: margin .3s ease;
}

#reactivos, #lista_final {
  background: #EEE;
  height: 872px;
  overflow-y: auto;
  padding-top: 35px;
  text-align: center;
  transition: width .3s ease;
}

#sidebar_text {
  border-bottom: 2px solid #ea7f89;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 25px;
  padding-bottom: 21px;
}

#texto {
  margin-top: 25px;
  padding-left: 107px;
}

#title {
  background: #F6F6F6;
}

.arrow {
  cursor: pointer;
  height: 25px;
  position: relative;
  width: 25px;
}

.bolded {
  font-weight: 700;
}

.card {
  display: inline-block;
  font-size: 16px;
  height: 200px;
  margin: 9px;
  width: 200px;
}

.card2 {
  display: block;
  font-size: 16px;
  height: 150px;
  margin: 7px auto 17px;
  width: 479px;
}

.card2>.card_content {
  background: #FFF;
  display: table;
  font-size: .85em;
  height: 145px;
  line-height: normal;
  overflow: hidden;
  text-align: center;
  width: 479px;
}

.card2>.franja_tarjeta {
  background: #C83335;
  height: 5px;
}

.card_content {
  background: #FFF;
  display: table;
  font-size: .85em;
  height: 182px;
  line-height: normal;
  overflow: hidden;
  padding: 23px;
  text-align: center;
  width: 200px;
}

.card_content div {
  display: inline-block;
}

.card_content span {
  display: table-cell;
  vertical-align: middle;
}

.checkbox_div {
  height: 96px;
  position: relative;
  width: 15.44%;
}

.checkbox_div input[type=checkbox]:checked+label:after {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  opacity: 1;
}

.checkbox_div label {
  background: #FFF;
  border: 1px solid #C83335;
  cursor: pointer;
  height: 24px;
  left: 0;
  margin-left: 23px;
  margin-top: 21px;
  position: absolute;
  top: 0;
  width: 24px;
}

.checkbox_div label:after {
  background: transparent;
  border: 1px solid #FFF;
  border-right: none;
  border-top: none;
  content: '';
  height: 5px;
  left: 7px;
  opacity: 0.2;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 9px;
}

.checkbox_div label:hover::after {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  opacity: 0.3;
}

.collapsed, input[type=checkbox] {
  display: none;
}

.franja_tarjeta {
  background: #C83335;
  height: 18px;
}

.img_asociada {
  width: 100%;
}

.img_btn {
  width: 25px;
}

.logo_castillo_container {
  padding-right: 23px;
  padding-top: 20px;
}

.logo_castillo_container img {
  float: right;
}

.num_reactivos {
  display: inline-block;
  font-size: .9em;
  padding: .3em;
}

.pointer_style {
  cursor: pointer;
  font-size: .9em;
}

.pregunta_div {
  cursor: pointer;
  height: 96px;
  padding-top: 19px;
  user-select: none;
  width: 84.56%;
}

.red_background {
  background: #C83335!important;
}

body {
  color: #7C7C7C;
  font-family: Lato, sans-serif;
  font-weight: 100;
  user-select: none;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

svg {
  height: 25px;
  width: 20px;
}

@media (min-width: 992px){
  #preview_reactivo.collapsed {
    display: block;
    /* same width as sidebar */
    margin-right: -33.34%;
  }
}

@media all and (min-width: 1380px) { /*Above 1380px*/
  .container{
          width: 1280px;
  margin: 0 auto;
  }
}
