.container{
  display: none;
}

#examen_html{
  white-space:nowrap;
  display: block;
  color: #000 !important;
}

.bolded{
  font-weight: bold;
}

#examen_html *{
  display: block;
  color: #000 !important;
}

.img_asociada{
  width: 60%;
}