font-face { font-family: Lato; font-weight: normal; src: url('../fonts/lato/Lato-Regular.ttf'); }
font-face { font-family: Lato; font-weight: bold; src: url('../fonts/lato/Lato-Bold.ttf'); }
font-face { font-family: Lato; font-weight: lighter; src: url('../fonts/lato/Lato-Light.ttf'); }
font-face { font-family: Lato; font-weight: 550; src: url('../fonts/lato/Lato-Semibold.ttf'); }

body{
  font-family: Lato, sans-serif;
  color: #7C7C7C;
}

divv{
  border-style: dashed;
  border-width: thin;
  border-color: #DDD;
}

#ae_container{
  transition: margin 0.3s ease;
  padding: 3rem 20px;
  font-size: 0px;
  background-color: #F6F6F6;
}

.card{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 9px;
  font-size: 16px;
}

.card2{
  display: block;
  width: 479px;
  height: 150px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 17px;
}

.card_content{
  background: #FFF;
  display: table;   /*TODO is it ok??*/
  font-size: 0.85em;
  height: 182px;
  width: 200px;
  text-align: center;
  line-height: normal;
  overflow: hidden;  /* TODO revisar que ningún texto salga de los 200pxx200px*/
  padding: 23px;
}.card2 > .card_content{
  background: #FFF;
  display: table;
  font-size: 0.85em;
  height: 145px;
  width: 479px;
  text-align: center;
  line-height: normal;
  overflow: hidden;
}

.card_content span{
  vertical-align: middle;
  display: table-cell; /*TODO is it ok??*/
}

.card_content div{
  display: inline-block;
  /* height: 145px; */
}

.franja_tarjeta{
  background:#C83335;
  height: 18px;
}.card2 > .franja_tarjeta{
  background:#C83335;
  height: 5px;
}

#back_to_AE{
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #FFF;
  margin: 0 auto;
  margin-top: 35px;
}

#contador_a_preview{
  padding-top: 30px;
  font-size: 15px;
}

#contador_a_preview div{
  ;
}

#contador_a_preview .circle{
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background:#C83335;
}

#ae_seleccionado div{
  text-align: center;
}

#header{
  border-bottom: solid 2px;
  border-color: #EEE;
}

#logo_castillo_container img{
  margin: 15px 22px; /*TODO margen dinámico*/
}

#materia_title{
  height: 50%;
  
  width: 166px; margin-left: 100px; /*TODO*/
  
  border-bottom: solid thin;
  border-color: #C83335;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  color: #4D4D4F;
  padding-left: 10px;
}
#logo_reactivos{
  padding: 3px;
  display: inline-block;
  width: 20%;
  text-align: center;
}
.num_reactivos{
  display: inline-block;
  padding: 0.3em;
  font-size: 0.8em;
}

#title{
  background: #F6F6F6;
}

#footer{
  background-color: #B1B1B1;
  color: #FFF;
  text-align: center;
  font-size: 0.7em;
  padding: 1em;
  font-weight: normal;
  word-spacing: 1px;;
}

#ae_seleccionado{
  height: 872px;
  background: #C83335;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
}

#ae_sub{
  overflow-x: hidden;
}

#reactivos{
  background: #EEE;
  transition: width 0.3s ease;
  height: 872px;
  text-align: center;
  padding-top: 35px;
  overflow-y: auto;
}
#preview_reactivo{
  height: 872px;
  background: #FFF;
  transition: margin 0.3s ease;
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 32px;
}

#sidebar_text{
  margin-top: 25px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 2px solid #ea7f89;
  padding-bottom: 21px;
}

#examen_html{
  color: #00F;
}

#lista_final{
  background: #EEE;
  transition: width 0.3s ease;
  height: 872px;
  text-align: center;
  padding-top: 35px;
  overflow-y: auto;
}

.checkbox_div{
  width: 15.44%;
  position: relative;
  height: 96px;
}.pregunta_div{
  width: 84.56%;
  padding-top: 19px;
  height: 96px;
  cursor: pointer;
  user-select: none;
}

.collapsed{
  display: none;
}

input[type=checkbox]{
  display: none;
}
.checkbox_div label{
  cursor: pointer;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
  left: 0;
  margin-left: 23px;
  margin-top: 21px;
	background: #FFF;
	border:1px solid #C83335;
}
.checkbox_div label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 1px solid #FFF;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}
.checkbox_div label:hover::after {
  opacity: 0.3;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}.checkbox_div input[type=checkbox]:checked + label:after {
  opacity: 1;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

.red_background{
  background: #C83335 !important;
}

button {
  background: transparent;
  border: 0;
  outline:0;
}
svg{
  width: 20px;
  height: 25px;
}
#back_to_AE polyline{
  stroke: #C83335;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
#contador_a_preview polyline{
  stroke: #FFF;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.arrow {
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
}

@media (min-width: 992px){
  #preview_reactivo.collapsed {
    display: block;
    /* same width as sidebar */
    margin-right: -33.34%;
  }
}

@media all and (min-width: 1380px) { /*Above 1380px*/
  .container{
          width: 1280px;
  margin: 0 auto;
  }
}
