.container{
  display: none;
}

#examen_html{
  padding: 0px !important;
  margin: 0px;
  display: block;
  color: #000 !important;
  font-size: 20px;
  width: 90%;
}

li img{
  vertical-align: top;
  margin: 10px 0px;
}

.bolded{
  font-weight: bold;
}

#examen_html *{
  color: #000 !important;
}

.img_asociada{
  width: 25%;
  margin-left:2em;
}

ol{
  display: block;
  list-style-type: upper-alpha;
}

.closebtn{
  display: none;
}
.printbtn{
  display:none;
}

table{
  font-size: 1.4em;
}